/*PARK Stylesheet AUG 2016*/


html {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #ffffff;
    padding-left:80px;
    /*width: 100%;
    margin: 0 auto;*/
}
.asset_icons{
    margin-bottom:100px;
}
.navbar-brand{
    height: 80px;
    margin-left:0;
}
.nav{
    padding-top: 20px;
}
.nav > li > a{
    padding:10px 35px;
}
.intro-section{
    background-image:url("../images/park-bg-img.png");
    height:auto;
    background-repeat:no-repeat;
    background-color:#020f25;
    background-size:cover;
    padding-bottom: 60px;
}
.tagline {
    font-family: 'Slabo 27px', serif;
    color:#ffffff;
    padding-top: 40px;
    padding-bottom: 100px;
    font-size:28px;
    letter-spacing:1px;

}

.asset_parkinglot_icon{
    background-image: url("../images/park-icons-01_REV_White.png");
    background-size:cover;
    background-repeat:no-repeat;
    width: 293px;
    height: 207px;
    margin: 0 auto;
}
.asset_PARK_iconCoin{
    background-image: url("../images/Park_Coin_Icon.png");
    background-size:cover;
    background-repeat:no-repeat;
    width: 143px;
    height: 143px;
    margin: 33px auto 87px;
}

.asset_title{
    font-size:12px;
    text-align:center;
    color: #d1d2d3;
    letter-spacing:1px;
}
.asset_parkinglot_icon_w_cars{
    background-image:url(../images/park-icons-CARS_03_REV_white.png);
    background-size:cover;
    background-repeat:no-repeat;
    width: 221px;
    height: 144px;
    margin: 48px auto 15px;

}
.asset_result{
    margin: 0;
    color: #ffffff;
    font-size: 27px;
    font-weight:200;

}
.asset_result span {
    font-size:45px;
}
.asset_result.clock-text span {
    font-size:27px;
}
#asset-table {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    width:100%;
    height:80px;
}
#asset-table2{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    height:80px;
}
#asset-table2 tbody td {
    font-size: 12px;
    width: 200px;
    color: #d1d2d3;
    letter-spacing:1px;
    padding-top:20px;
    vertical-align: bottom;
}

#asset-table tbody td {
     font-size: 12px;
     width: 200px;
     color: #d1d2d3;
     letter-spacing:1px;
     padding-top:20px;
     vertical-align: bottom;
 }

#asset-table tfoot td {
    font-size: 30px;
    font-weight: 200;
    line-height: 60px;
}
.asset-section{
    background-color:#132a42;
    height: auto;
    padding-bottom:100px;
}
.section-title{
    font-size: 36px;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Slabo 27px', serif;
    margin-top: 0;
}
.asset_container{
    margin-top:50px;

}
.responsiveAssetInfographic {
    width: 40%;
}
.asset-infographic{
    background:url("../images/PARK-ASSET-Graphic.png");
    width: 100%;
    min-height: 355px;
    background-repeat: no-repeat;
    margin: 50px auto 0;
    background-size:contain;
}
@media only screen and (max-width: 414px) {
    .responsiveAssetInfographic {
        margin:10px auto;
        width:100%;
    }
}
@media only screen and (max-width: 375px) {
    .responsiveAssetInfographic {
        margin:10px auto;
        width:100%;
    }
}
@media only screen and (max-width: 320px) {
    .responsiveAssetInfographic {
        margin:10px auto;
        width:100%;
    }
}

@media only screen and (max-width: 414px){
    .asset-infographic{
        width: 100%;
        min-height: 300px;
        background-size: contain;
    }
}
@media only screen and (max-width: 375px){
    .asset-infographic{
        width: 80%;
        min-height: 300px;
        background-size: contain;
    }
}
@media only screen and (max-width: 320px){
    .asset-infographic{
        width: 80%;
        min-height: 300px;
        background-size: contain;
    }
}
.text-group{
    width:45% !important;
    margin-bottom:55px;
}

@media only screen and (max-width: 600px){
    .text-group{
        width:100%;
    }
}
@media only screen and (max-width: 414px){
    .text-group{
        width:100% !important;
    }
}
@media only screen and (max-width: 375px){
.text-group{
    width:100%;
}
}
@media only screen and (max-width: 320px){
    .text-group{
        width:100%;
    }
}
.paragraph-title{
    color:#ffffff;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
    margin-top: 80px;
}
.paragraph-title2 {
    margin-top:25px;

}
.body-text{
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}
.structure-section{
    background-image:url("../images/structure-bg.png");
    width:100%;
    height:auto;
    min-height:500px;
    background-size:cover;
    background-color:#13498d;
    padding-top:100px;
}
.structure-paragraph-title{
    text-align: center;
    font-size: 27px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 50px;
    letter-spacing: 1px;
    padding-left:15px;
    padding-right:15px;
}
.structure_developers{
    margin-top:85px;
}
.car_BCPMU{
    background: url("../images/Park_Car_BCPMU-left.png");
    background-size:contain;
    background-repeat:no-repeat;
    width: 155px;
    min-height: 100px;
    margin: 0 auto 0;
}
.car_GPA{
    background: url("../images/Park_Car_GPA-center.png");
    background-size:contain;
    background-repeat:no-repeat;
    width: 155px;
    min-height: 100px;
    margin: 0 auto 0;

}
.car_PARK{
    background: url("../images/Park_Car_PARK-right.png");
    background-size:contain;
    background-repeat:no-repeat;
    width: 155px;
    min-height: 100px;
    margin: 0 auto 0;

}
.structure_company_names{
    color:#ffffff;
    font-size:15px;
    text-align:center;
    margin: 0 auto 80px;
}
.row-with_border{
    border:1px solid #ffffff;
    margin:100px auto;
    width:80%;
}
.PARK-infoText{
    color:#ffffff;
    font-size:22px;
    text-align:center;
    margin: 50px auto;
    width: 80%;
    font-weight: 200;
    letter-spacing: 1px;
}
.structure_PARK-logo{
    background: url("../images/park-logo-white.png");
    width:250px;
    height:125px;
    background-size:contain;
    background-repeat:no-repeat;
    margin:50px auto 0;
}
.howITWorks{
    height:200px;
}
@media (min-width: 800px) {
    .howText {
        width: 50%;
        margin:10px auto;
        padding-bottom:40px;
    }
}
@media (min-width: 800px) {
    .howITWorks {
        margin-bottom:50px;
    }
}
@media (min-width: 768px) {
    .howText {
        width: 50%;
        margin:10px auto;
        padding-bottom:40px;
    }
}
@media (min-width: 768px) {
    .howITWorks {
        margin-bottom:50px;
    }
}
@media (min-width: 414px) {
    .howText {
        width: 100%;
        margin:10px auto;
        padding-bottom:40px;
    }
}
@media (min-width: 414px) {
    .howITWorks {
        margin-bottom:50px;
    }
}
@media (min-width: 375px) {
    .howText {
        width: 100%;
        margin:10px auto;
        padding-bottom:40px;
    }
}
@media (min-width: 375px) {
    .howITWorks {
        margin-bottom:50px;
    }
}
@media (min-width: 320px) {
    .howText {
        width: 100%;
        margin:10px auto;
        padding-bottom:40px;
    }
}
@media (min-width: 320px) {
    .howITWorks {
        margin-bottom:50px;
    }
}
.how_number{
    text-align: center;
    color: #ffffff;
    font-size: 75px;
    width: 117px;
    height: 117px;
    margin: 15px auto;
    border-radius: 56px;
    background-color: #132a42;
}
.howText{
    color:#ffffff;
    font-size:17px;
    text-align:center;
    font-weight:200;
    letter-spacing:1px;
    padding:12px;
}
.structurenumberedhowtoRow{
    margin-bottom:35px;
}
.infographics-section{
    margin-top:10px;
    margin-bottom:35px;
}
.infographic_title,
.HowItWorksStepsTitle{
    color:#ffffff;
    font-size:30px;
    font-weight:200;
    text-align:center;
    padding-top:100px;
    padding-bottom:20px;
    letter-spacing:2px;
    margin-top: 80px;
}
.HowItWorksStepsTitle{
    margin-bottom:80px;
}
.Contractual_InfoG{
     background: url("../images/PARK_Contractual_Cashflow_Graphic_REV2.png");
     background-size: contain;
     width: 85%;
     height: 500px;
     background-repeat: no-repeat;
     margin: 0 auto;
 }

.Net_InfoG {
    background: url("../images/PARK_Net_Profits_Graph.png");
    background-size: contain;
    width: 67%;
    min-height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
@media (min-width: 800px){
    .Net_InfoG{
        min-height:375px;
        margin-bottom: 40px;
    }
}
@media (min-width: 768px){
    .Net_InfoG{
        height:375px;
        margin-bottom: 40px;
    }
}
@media (min-width: 414px){
    .Net_InfoG{
        min-height:275px;
        margin-bottom: 40px;
    }
}
@media (min-width: 375px){
    .Net_InfoG{
        min-height:275px;
        margin-bottom: 40px;
    }
}
@media (min-width: 320px){
    .Net_InfoG{
        min-height:175px;
        margin-bottom: 40px;
    }
}
.infographicParagraph{
    height: auto;
    background-color: #FFFFFF;
    color: #13498d;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 50px;
    margin-top:50px;
}
@media (min-device-width: 414px){
    .infographicParagraph{
        margin:0;
    }
}
.infoPar{
    margin:0;
    padding:0;
    width:100%;
}
.btn-block {
    width: 60%;
    margin: 0 auto;
}
.btn-primary {
    color:#ffffff;
    background-color: #020f25;
    border-color: #020f25;
    line-height:55px;
    letter-spacing:1px;
    margin-bottom:100px;

}
.btn-primary a {
    color:#ffffff;
}
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active{
    background-color:#a9b6bf;
}
.purchase-section{
    height: auto;
    padding-bottom: 80px;

}
.purchaseTitle {
    color:#020f25;
    margin-bottom:80px;
}
.PurchaseText{
    text-align: center;
    margin: 0 auto 67px;
    width: 75%;
    line-height: 30px;
    font-size: 19px;
    font-weight: 200;
}
.col-sm-offset-4{
    margin-top:50px;
}
.disclosure-section{
    background-color:#020f25;
    height:auto;
}
.disclosureLinkRow{
    margin-bottom:50px;
}

.disclosure-paragraph-title {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    margin: 50px auto 150px;
}

.Disclosure_button{
    padding: 2%;
    border-radius: 15px;
    /*background-color: rgba(2, 15, 37, 0.3);*/
    /*margin:1%;*/
}
.DisclosureDocTitle{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
}
.downloadableDisclosureTitle{
    color:#ffffff;
    text-align:center;
    font-size:26px;
    font-weight:200;
    letter-spacing:1px;
    margin-bottom:35px;
}
.DisclosureDescription{
    color: #ffffff;
    font-size: 13px;
    font-weight: 200;
    padding: 10px;
    letter-spacing: 1px;
}
.Disclosure_Icon{
    background:url("../images/Disclosure_Icon3.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 22px;
}

.faqTitlespace{
    margin-bottom:100px;
}
.faq-section{
    background-color:#132a42;
    height: auto;
    padding-bottom: 80px;
    margin-bottom:100px;
}
.btn.faqbutton{
    width: 80%;
    background-color:rgba(2, 15, 37, .3);
    border:#020f25;
    height:55px;
    font-weight: 200;
    font-size:17px;
}

@media (min-width:414px){
    .btn.faqbutton{
        font-size:2vw;
    }
}
@media (min-width:1366px){
    .btn.faqbutton{
        font-size:17px;
    }
}
@media (min-width:1920px){
    .btn.faqbutton{
        font-size:17px;
    }
}

.btn.faqbutton:active,
.btn.faqbutton:visited{
    background-color:#a9b6bf;

}
.collapse.in,
.faqanswer{
    color: #ffffff !important;
    font-size: 17px;
    font-weight: 200;
    text-align: left;
    width: 70%;
    margin: 30px auto;
    line-height: 27px;
    letter-spacing: 1px;
}
.faqROW{
    margin-bottom:30px;
}
.subscribe-section{
    background-color:#ffffff;
    height: auto;

}
.subscribeTitle{
    color:#020f25;
    margin-bottom:80px;
}
.gp_mailLogo{
    background:url(../images/mailing-logo.png);
    width:112px;
    height: 57px;
    margin:50px auto 20px;
    background-repeat:no-repeat;

}
.subscribeCTA{
    font-size:22px;
    font-weight:200;
    font-style:italic;
    color:#020f25;
    text-align:center;
    margin-bottom:50px;
}
.newsletter {
    width: 76%;
    padding-left: 10px;
    height: 50px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.submit.GoButton {
    width: 50px;
    height: 50px;
    border: 1px solid #0E4B80;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #0E4B80;
    color: #FFFFFF;
    font-size: 21px;
    float: left;
    margin-left: 1%;
}
.newsletterContainer{
    margin-bottom:80px;
}
.newsletter_form{
    height:50px !important;
    width:40%;
    margin:0 auto;
    padding:0;
    min-width: 300px;
}
.SocMediaContainer{
    width:80%;
    margin: 10px auto 100px;
}
@media(min-width: 800px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }

}
@media(min-width: 768px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }
}
@media(min-width: 694px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }
}
@media(min-width: 414px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }
}
@media(min-width: 375px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }
}
@media(min-width: 320px){
    .ResposiveFooterRow{
        margin-bottom:100px !important;
        height:100px;
    }
}
.twitter{
    background: url("../images/Twitter_Logo_White_On_Blue_Circle.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
}
.facebook{
    background: url("../images/facebookicon.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.privacypolicy{
    font-size:16px;
    color:#858585;
    text-align:right;
    text-decoration: underline;
    padding-top: 30px;
}
.privacypolicy a{
    cursor: pointer;
    color:#858585;

}
.privacypolicy a:hover{
    color:#132a42;
}

/* 5 column*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom:40px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
    margin-bottom:40px;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
        margin-bottom:40px;

    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
        margin-bottom:40px;

    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
        padding-bottom:40px;

    }
}
/*StackO*/
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

label[disabled] {
    color: #adadad;
}