body {
	font-family:"Open Sans Regular", sans-serif;
	margin:0;
	padding:0;
}
.gp-pagecontainer{
	background:url("images/park-bg-img.png");
	padding-bottom:40px;
	min-height:3600px;
	background-repeat:no-repeat;
}
#header {
	width:100%;
	height: 100px;
	
}
#navbar {
	background-color:#FFFFFF;
	min-width:800px;
	width:60%;
	height:100px;
	margin: 0 auto;
}
#nav-logo {
	margin: 0;
	min-height: 75px;
	width: 15%;
	float: left;
	padding: 25px 0 0 3%;
}
/*#nav-logo {
	//background:url(images/nav-logo.png);
	background-size:contain;
	background-repeat: no-repeat;
	width: 10%;
	min-height: 55px;
	margin-top: 30px;
	margin-left: 30px;
	float: left;
	padding: 0;
}*/

#nav-logo img {
	width:75%;
	margin:0;
}


#nav-logo img {
}

#nav{
	width: 49.5%;
	margin-top: 15px;
	height: 70px;
	padding-top: 14px;
	display: inline;
	position: absolute;
}
.gp-menu{
	list-style-type: none;
	width: 100%;
	display: inline-block;
	position: absolute;
	padding: 0;
}
.gp-menuitem{
	width: 14%;
	min-width: 60px;
	text-align: center;
	display: inline-block;
}
.gp-menubullet{
	width: 5%;
	min-width: 20px;
	text-align: center;
	display: inline-block;
}
#nav a {
	text-decoration:none;
	font-size:0.6em;
	color:#393544;
	margin-left: 4%;
	margin-right: 4%;
}

#nav .current a {
	color:red;
}

.gp-pagecontainer img {
	margin:150px auto 50px auto;
	display:block;
	clear:both;
}
.gp-pagecontainer p {
	color:#FFFFFF;
	text-align:center;
	margin-bottom:100px;
	margin-top:16px;
	font-family:"Open Sans Light", sans-serif;
	font-size:1em;
}

.gp_intro{
	width:100%;
	min-height:400px;	
}

.gp-bigwhite_Park_logo{
	width: 16%;
	min-height: 100px;
	background:url(images/white-logo.png);
	background-repeat:no-repeat;
	background-size:contain;
	margin:150px auto 80px;
}
.gp-heroText{
	width:75%;
	height:50px;
	margin:0 auto 100px;
	text-align:center;
}

#asset {
	height: 320px;
	background-color: #F7F7F7;
	padding-top: 50px;
	width: 100%;
}

#asset p {
	color:#353738;
    margin-bottom: 10px;
}


h2, h3 {
	font-family:"Open Sans Light", sans-serif;
	font-weight:lighter;
	text-align:center;
	color:#353738;
	letter-spacing:5px;
	margin:0;
}

h2 {
}

h3 {
}

#press{
	width:100%;
}
#press-left {
	background-image:url("images/press-bg.png");
	width:65%;
	float:left;
	padding:0;
	margin:0; 
	height:500px;
}
#press-left img {
	width:20%;
	display:block;
	margin:180px auto;
}
#press-right {
	width:35%;
	float:right;
	padding:0;
	margin:0;
	height:500px;
	background-color:#ffffff;
}
#press-text, #disclosure-text {
	padding:0 60px;
	height:350px;
}
p.gp_presstextpar{
	color:#848789;
	font-size:0.75em;
	line-height:1.9em;
	text-align:justify;
	margin-top:80px;
}
#press-text h2, #disclosure-text h2 {
	padding-top:40px;
}

.center-text {
	text-align:center;
	margin:7px 0 40px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFFFFF;
	margin:0 auto 40px auto;
}
.button-bg {
	background-color:#282F35;
	height:150px;
}
div.button {
	border:1px solid #FFFFFF;
	width:250px;
	margin:0 auto;
	height: 50px;
}
.button p {
	color:#FFFFFF;
	text-align:center;
}
.button button {
	color:#FFFFFF;
    background: transparent;
	text-align:center;
	border:none;
	width:250px;
	height: 50px;
	font-size:1em;
}
.button p a {
	color:#FFFFFF;
    text-decoration: none;
}

#purchase {
	background-color:#ffffff;
	height: 615px;
	position: relative;
	display: inline-block;
	padding: 50px 10%;
}
#purchase p, #exchange p {
	text-align:center;
	color:#848789;
	line-height: 2em;
	width: 100%;
}
#purchase-form{
	width: 75%;
	margin: 0 auto;
}
#mailing-form.purchaseForm,
#fullname.purchaseForm{
	width: 100%;
	margin: 10px auto 0;
	height: 40px;
	padding-left: 10px;
}

#disclosure{
	background:url(images/press-bg.png);
	background-repeat:no-repeat;
	width:100%;
	min-height:500px;
	background-size:cover;
}

#disclosure-middle {
	width:34%;
	background-color:#ffffff;
	margin: 0 auto 0;
}
#disclosure-text p{
	color: #848789;
	font-size: 0.75em;
	line-height: 1.9em;
	text-align: justify;
	margin-top: 30px;

}
.gp-TwitterSlide{
	width:100%;
	min-height:350px;
	background-color:#0E4B80;
	position:absolute;

}
.gp_twitterLogo{
	background-image:url(images/twitter01.png);
	background-repeat:no-repeat;
	width:32px; 
	height: 27px;
	margin:50px auto 10px;
}
.gp_handle, 
.gp_TwitterText,
.gp-lightText{
	color: #FFFFFF;
	text-align:center;
}
.gp_handle{
	font-size: .8em;
	margin: 25px auto 20px;
}

.gp-lightText{
	font-family: "source-sans-pro";
	font-weight:200;
}

.gp_TwitterText{
	font-style:italic;
	width: 65%;
	margin: 0 auto;
	line-height: 2em;
}
.gp_slide_nav{
	width:8%;
	height:20px;
	margin: 100px auto 10px;
}
.circle{
	width:15px;
	height:15px;
	border: solid 1px #848789;
	border-radius:15px;
	margin:0 6% 0;
	float:left;
}
#exchange {
	width:100%;
	height:350px;
	background-color:#ffffff;
	position:relative;
}
#exchange.infographic {
//	background:url(images/press-bg.png);
    background-color: #233443;
    background-repeat: no-repeat;
    background-size: cover;
	height:580px;
}
#exchange.infographic img {
	margin: 0px auto 0px auto;
}

#exchange-text h2{
	padding-top:80px;
}

#exchange p{
	width:75%;
	margin:0 auto;
}


#mailing {
	padding-top:50px;
	position:relative;
	width:100%;
	height:400px;
	background-color:#FFFFFF;
}
.gp_mailLogo{
	background:url(images/mailing-logo.png);
	width:112px; height: 57px;
	margin:50px auto 10px;
	
}
.gp_StayInTouch {
	font-size:1.4em;
	font-weight:lighter;
	text-align:center;
	margin:40px;
	color:#848789;
	font-style:italic;
	position:relative;
}
/*#mailing form {
	width: 45%;
	margin: 0 auto;
}*/
.newsletter_form{
	height:50px !important;
	width:40%;
	margin:0 auto;
	padding:0;
}
.newsletter {
	width: 76%;
	padding-left: 10px;
	height: 50px;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.submit {
	width: 19%;
	height: 50px;
	border: 1px solid #0E4B80;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #0E4B80;
	color: #FFFFFF;
	font-size: 21px;
	float: left;
	margin-left: 1%;
}


#footer {
	width:100%;
	height:250px;
	background-color:#f7f7f7;
	position:absolute;
}
.gp_footer-container{
	width:80%;
	height:150px;
	position:relative;
	margin: 80px auto 0;
}
.gp-social-container,
.address{
	float:left;
	width:33%;
	height:100px;
}

.address, .credits {
	color:#666666;
	font-size:13px;
	line-height:1.5em;
}

.credits a:any-link {
	color:#666666;
}

.gp-social-image{
	background:url(images/social.png);
	background-repeat:no-repeat;
	background-size:contain;
	width:37%;
	margin:12px auto 0;
	height:100px;
}

.credits{
	float:right;
	margin-left:5%;
}


#clock {
	font-size: 21px;
	padding-top:10px;
	letter-spacing:1px;
}
.SaleBegins_Assets,
.price_distribution_Assets,
.tablebg_Assets{
	width:33%;
	height:200px;
	float:left;
	margin-top:35px;
}
.price_distribution_Assets{
		color:#353535;
}
.tablebg_Assets{
}

#asset-table {
    margin-left:auto; 
    margin-right:auto;
	text-align: center;
	font-size: 18px;
    color: #353535;
	width:75%;
	height:80px;
}

#asset-table tbody td {
	font-size: 11px;
	width: 25%;
	font-weight: 100;
}

#asset-table tfoot td {
    font-size: 21px;
}

.sales{
	font-size:11px;
	text-align:center;
	font-weight:100;
	padding-top: 10px;
}

.clock-text{
}


dl{
	width:100%;
	height:200px;
	margin:0;
	line-height: 38px;
}
dt { 
	display:block; 
	float:left; 
	width:50%; 
	text-align: right;
	font-size:11px;
	font-weight: 100;
}
dt:after{
	content:':';
	padding-right:5px;
}
dd { 
	display:block;
	font-size:21px;
}
dd span{
	font-size:11px;
}
.form_selectors{
	font-size: 16px;
	margin: 35px auto 30px;
	width: 100%;
	height: 100px;
	color: #848789;
	font-weight: 100;
}
.residence_form_label_one{
	width:34%;
	float:left;
	margin: 0 0 20px 5%;
}
.residence_form_label_two{
	width:34%;
	float:right;
	margin: 0 5% 20px 0;

}
.residence_form_label_three{
	display:inline-block;
	width:100%;
	text-align:center;
	margin-top:50px;
}
.residence_form_label_three a{
	text-decoration: none;
    color: rgb(132, 135, 137);
    font-weight: 600;
}

select{
	font-size: 14px;
	font-weight: 100;
	padding: 4px;
}

.credits a{
    color: rgb(132, 135, 137);
}

.gp-pagecontainer img {
	margin:150px auto 50px auto;
	display:block;
	clear:both;
}


